<script type="application/ld+json">
{
    "@context": "https://schema.org",
    "@type": "HomeAndConstructionBusiness",
    "@id": "{{ client.domain }}/#business",
    "name": {{ client.name | dump | safe }},
    "url": "{{ client.domain }}/",
    "image": "{{ client.domain }}/assets/images/portfolio/mmlogo.png",
    "logo": "{{ client.domain }}/assets/images/portfolio/mmlogo.png",
    "telephone": {{ client.phoneFormatted | dump | safe }},
    "email": {{ client.email | dump | safe }},
    "foundingDate": {{ client.foundingDate | dump | safe }},
    "founder": { "@type": "Person", "name": "Miguel Martinez" },
    "address": {
        "@type": "PostalAddress",
        "addressLocality": {{ client.address.city | dump | safe }},
        "addressRegion": {{ client.address.state | dump | safe }},
        "postalCode": {{ client.address.zip | dump | safe }},
        "addressCountry": {{ client.address.country | dump | safe }}
    },
    "areaServed": [
        {%- for area in client.serviceAreas -%}
        { "@type": "City", "name": {{ area | dump | safe }} }{% if not loop.last %},{% endif %}
        {%- endfor -%}
    ],
    "sameAs": [
        {{ client.address.mapLink | dump | safe }}
    ]
}
</script>
