---
title: "Reviews | Code Stitch Web Designs"
description: "Meta description for the page"
permalink: "/reviews/"
---

{% extends "layouts/base.html" %}

{% block head %}
    <link rel="stylesheet" href="/assets/css/reviews.css">
{% endblock %}

{% block body %}

    <!-- ============================================ -->
    <!--                   Banner                     -->
    <!-- ============================================ -->

    <div id="banner-310">
        <div class="cs-container">
            <span class="cs-int-title">Reviews</span>
        </div>
        <!--Background Image-->
        <picture class="cs-background">
            <!--Mobile Image-->
            <source media="(max-width: 600px)" srcset="{% getUrl "/assets/images/portfolio/clean-crawlspace3.webp" | resize({ width: 640, height: 600 }) | webp %}" type="image/webp">
            <!--Tablet Image-->
            <source media="(max-width: 1024px)" srcset="{% getUrl "/assets/images/portfolio/clean-crawlspace3.webp" | resize({ width: 2048, height: 942 }) | webp %}" type="image/webp">
            <!--Desktop Image-->
            <source media="(min-width: 1024px)" srcset="{% getUrl "/assets/images/portfolio/clean-crawlspace3.webp" | resize({ width: 2500, height: 628 }) | webp %}" type="image/webp">
            <img src="{% getUrl "/assets/images/portfolio/clean-crawlspace3.webp" | resize({ width: 2500, height: 628 }) | jpeg %}" alt="library" width="1920" height="482" loading="eager" decoding="async">
        </picture>
    </div>

    <!-- ============================================ -->
    <!--                   Reviews                    -->
    <!-- ============================================ -->

    <section id="reviews-67">
        <div class="cs-container">
            <div class="cs-content">
                <span class="cs-topper">Our Reviews</span>
                <h2 class="cs-title">Words From Our Customers</h2>
                <p class="cs-text">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sit dolor volutpat porttitor sagittis nunc nisl. Sagittis sit pellentesque gravida viverra. Leo ut sed euismod tortor risus et. Ornare non neque, leo, ornare. Lorem ipsum dolor sit amet.
                </p>
            </div>
            <ul class="cs-card-group">
                <!-- Review 1 -->
                <li class="cs-item">
                    <img class="cs-item-img" aria-hidden="true" loading="lazy" decoding="async" src="/assets/images/portfolio/ivy-review.png" alt="profile picture" width="80" height="80">
                    <p class="cs-item-text">
                        Miguel and his team did a great job encapsulating my mother’s crawl space. They throughly cleaned  and sealed the space so that no mold or any other harmful matter appears. Miguel was professional and very responsive. We were blessed for Tranquil Designs Builders to recommend his company to us, he is an expert with a service that  is next to none! Thanks M&M Crawlspace because of you I have peace of mind that my Mother lives in a safe non toxic home that won’t compromise her health!!!
                    </p>
                    <div class="cs-info">
                        <div class="cs-flex-group">
                            <span class="cs-name">Ivy Lassiter</span>
                            <span class="cs-desc">Homeowner</span>
                        </div>
                        <img class="cs-item-stars" aria-hidden="true" loading="lazy" decoding="async" src="/assets/svgs/stars.svg" alt="stars" width="96" height="16">
                    </div>
                </li>
                <!-- Review 2 -->
                <li class="cs-item">
                    <img class="cs-item-img" aria-hidden="true" loading="lazy" decoding="async" src="/assets/images/portfolio/anthony-review.png" alt="profile picture" width="80" height="80">
                    <p class="cs-item-text">
                        Miguel and his team did an outstanding job at my home. Miguel was professional, respectful, and extremely knowledgeable throughout the entire process. He took the time to explain everything clearly and made sure the job was done right. The quality of their work and attention to detail really shows. It’s great to find a company that takes pride in what they do — I wouldn’t hesitate to hire them again or recommend them to anyone needing crawl space work.
                    </p>
                    <div class="cs-info">
                        <div class="cs-flex-group">
                            <span class="cs-name">Anthony LiCausi</span>
                            <span class="cs-desc">Homeowner</span>
                        </div>
                        <img class="cs-item-stars" aria-hidden="true" loading="lazy" decoding="async" src="/assets/svgs/stars.svg" alt="stars" width="96" height="16">
                    </div>
                </li>
                <!-- Review 3 -->
                <li class="cs-item">
                    <img class="cs-item-img" aria-hidden="true" loading="lazy" decoding="async" src="/assets/images/portfolio/brian.png" alt="profile picture" width="80" height="80">
                    <p class="cs-item-text">
                        Very happy with Miguel and his crew!!  VERY PROFESSIONAL, QUALITY WORK!  M&M went above and beyond my expectations. I have included some before and after pictures of my 2024 crawlspace encapsulation.  Reasonably priced.  Excellent communication and responsiveness.  Timely scheduling.  Quality materials and workmanship.
                    </p>
                    <div class="cs-info">
                        <div class="cs-flex-group">
                            <span class="cs-name">Brian S</span>
                            <span class="cs-desc">Homeowner</span>
                        </div>
                        <img class="cs-item-stars" aria-hidden="true" loading="lazy" decoding="async" src="/assets/svgs/stars.svg" alt="stars" width="96" height="16">
                    </div>
                </li>
                <!-- Review 1 -->
                <li class="cs-item">
                    <img class="cs-item-img" aria-hidden="true" loading="lazy" decoding="async" src="/assets/images/portfolio/lilly.png" alt="profile picture" width="80" height="80">
                    <p class="cs-item-text">
                        M&M is the very Best company to call to encapsulate your crawl space! Their work is professional, the best materials are used and the price is reasonable. I have referred M&M to friends and they are extremely pleased with Miguel’s superior workmanship. It’s obvious Miguel takes pride in providing workmanship to the trade!
                    </p>
                    <div class="cs-info">
                        <div class="cs-flex-group">
                            <span class="cs-name">Lily Brabble</span>
                            <span class="cs-desc">Homeowner</span>
                        </div>
                        <img class="cs-item-stars" aria-hidden="true" loading="lazy" decoding="async" src="/assets/svgs/stars.svg" alt="stars" width="96" height="16">
                    </div>
                </li>
                <!-- Review 2 -->
                <li class="cs-item">
                    <img class="cs-item-img" aria-hidden="true" loading="lazy" decoding="async" src="/assets/images/portfolio/diane.png" alt="profile picture" width="80" height="80">
                    <p class="cs-item-text">
                        They did an excellent job on our crawl space clean out and installing the vapor barrier. They started the job quickly, stayed in great communication, and even sent pictures of the work as they went. Everything was done professionally and exactly as promised. Highly recommend!”
                    </p>
                    <div class="cs-info">
                        <div class="cs-flex-group">
                            <span class="cs-name">Diane Dycus</span>
                            <span class="cs-desc">Homeowner</span>
                        </div>
                        <img class="cs-item-stars" aria-hidden="true" loading="lazy" decoding="async" src="/assets/svgs/stars.svg" alt="stars" width="96" height="16">
                    </div>
                </li>
                <!-- Review 3 -->
                <li class="cs-item">
                    <img class="cs-item-img" aria-hidden="true" loading="lazy" decoding="async" src="/assets/images/portfolio/david.png" alt="profile picture" width="80" height="80">
                    <p class="cs-item-text">
                        Miguel was very informative after viewing our crawlspace, concerns and issues. He gave us a good overview with pictures and videos of what he and M&M crawlspace renovations could do for us. Before during and after the crawlspace renovation, Miguel was very informative and he is an excellent communicator both with his crew and with my wife and me. He answered questions promptly and returned phone calls promptly. The finished product was excellent; Miguel demonstrated the work in our crawlspace to me, we went into the crawlspace together so that he could show what had been done to encapsulate our crawlspace. He and his crew did everything that they promised to do. I highly recommend Miguel and M&M crawlspace renovations For anyone looking to eliminate crawlspace issues and others who are looking to prevent issues in their crawlspace.
                    </p>
                    <div class="cs-info">
                        <div class="cs-flex-group">
                            <span class="cs-name">David Parker</span>
                            <span class="cs-desc">Homeowner</span>
                        </div>
                        <img class="cs-item-stars" aria-hidden="true" loading="lazy" decoding="async" src="/assets/svgs/stars.svg" alt="stars" width="96" height="16">
                    </div>
                </li>
                <!-- Review 1 -->
                <li class="cs-item">
                    <img class="cs-item-img" aria-hidden="true" loading="lazy" decoding="async" src="/assets/images/portfolio/annne.png" alt="profile picture" width="80" height="80">
                    <p class="cs-item-text">
                        Thanks to Miguel, I’m no longer afraid of my crawlspace.  He used quality materials, was consistently polite & helpful, worked really hard (during the biggest heatwave of the summer) & did a very nice job at a fair price.  Plus I love the lights!  
                    </p>
                    <div class="cs-info">
                        <div class="cs-flex-group">
                            <span class="cs-name">Anne Wylie</span>
                            <span class="cs-desc">Homeowner</span>
                        </div>
                        <img class="cs-item-stars" aria-hidden="true" loading="lazy" decoding="async" src="/assets/svgs/stars.svg" alt="stars" width="96" height="16">
                    </div>
                </li>
                <!-- Review 2 -->
                <li class="cs-item">
                    <img class="cs-item-img" aria-hidden="true" loading="lazy" decoding="async" src="/assets/images/portfolio/brittany.png" alt="profile picture" width="80" height="80">
                    <p class="cs-item-text">
                        I am so happy with the work done by Miguel and his crew. I’m new to owning a home with a crawlspace and all the issues that come with it, Miguel was patient and detailed with the how and why of what I did and didn’t need. He is responsive and does an incredible job at a fair price.
                    </p>
                    <div class="cs-info">
                        <div class="cs-flex-group">
                            <span class="cs-name">Brittany Collins</span>
                            <span class="cs-desc">Homeowner</span>
                        </div>
                        <img class="cs-item-stars" aria-hidden="true" loading="lazy" decoding="async" src="/assets/svgs/stars.svg" alt="stars" width="96" height="16">
                    </div>
                </li>
                <!-- Review 3 -->
                <li class="cs-item">
                    <img class="cs-item-img" aria-hidden="true" loading="lazy" decoding="async" src="/assets/images/portfolio/cary.png" alt="profile picture" width="80" height="80">
                    <p class="cs-item-text">
                        Excellent job. Professional and prompt. Great service for a reasonable price. Miguel knows crawlspaces!
                    </p>
                    <div class="cs-info">
                        <div class="cs-flex-group">
                            <span class="cs-name">Cary McGregor</span>
                            <span class="cs-desc">Homeowner</span>
                        </div>
                        <img class="cs-item-stars" aria-hidden="true" loading="lazy" decoding="async" src="/assets/svgs/stars.svg" alt="stars" width="96" height="16">
                    </div>
                </li>
            </ul>
            <a href="/contact/" class="cs-button-solid">Get in Touch</a>
        </div>
    </section>

    {% include 'sections/cta.html' %}

{% endblock %}